VITE_ACCOUNT_API_URL=http://localhost:8081/api/v1
VITE_EVENT_API_URL=http://localhost:8082/api/v1
VITE_MATCHMAKING_API_URL=http://localhost:8083/api/v1
VITE_MEMBER_LOGIN_URL=http://localhost:5173/login
